@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root{
        --primary-color: #ffffff; 
        --secondary-color-1: #2c2620;  
        --tertiary-color-1: #77613e;
        --text-color: #464b4f;
        --accent-color-1: #cba261;
        --accent-color-2: #0d4a4f;
}

*{
    box-sizing: border-box;
    border: 2px solid aqua;
}

*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: "Italiana", "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}

header, main, footer{
    margin: 0;
    padding: 0;
    width:100%;
}


.nav-brand-container{
    position: fixed;
    height: 120px;
    width: 100%;
    top: 0;               
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    z-index: 100;
    transition: background-color 0.2s ease-in;
}

body.scroll .nav-brand-container{
    background-color: #2c2620; 
}


.and{
    color: var(--accent-color-1);
}

.brand-name{
    font-size: 42px;
    font-weight: 100;
    color: var(--primary-color);
}

.header_booking{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 110vh;
    background-image: url(./assets/images/image_1.jpg);
    background-size: cover;
}

.header_booking .booking-container{
    background-color: var(--secondary-color-1);
    width: 600px; 
    height: 400px; 
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 120px;
    border-top-right-radius: 120px;  */
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
    overflow: hidden;
    position: relative;
} 

.header_booking::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #2c2620, transparent 30%), url('your-image.jpg') no-repeat center/cover;
    z-index: 1;
}

nav{
    background-color: var(--secondary-color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    align-items: center;
    flex-direction: column;
    position: fixed;
    display: flex;
    height: 100%;
    width: 300px;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.9s ease, opacity 0.9s ease;
}

nav ul{
    padding-inline-start: 0;
    list-style-type: none;
}

nav li a{
    font-size: 20px;
    width: 100%;
    padding: 20px 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
}

nav li a:hover{
    color: var(--accent-color-1);
}

label svg{
    fill: var(--primary-color);
}

#active-menu{
    display: none;
}

  
.open-menu {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-out;
}
  
.close-outer-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.9s ease-in;
}
  
.menu-toggle:checked ~ .open-menu {
    display: none;
    opacity: 0;
}
  
.menu-toggle:checked ~ .close-outer-menu {
    display: block;
    opacity: 1;
}

#active-menu:checked ~ nav{
    transform: translateX(0);
    opacity: 1;
}

.close-menu{
    align-self: flex-start;
    padding: 20px;
}

.welcome-heading{
    text-transform: uppercase;
    color: var(--accent-color-1);
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    margin: 0;
}

.booking-container{
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-inline: 1.5em;
}

.booking-container div{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-paragraph{
    text-align: center;
    color: var(--accent-color-1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 500;
}

.button-booking{
    background-color: transparent;
    position: relative;
    border: 2px solid var(--accent-color-1);
    color: var(--primary-color);
    padding: 15px 50px;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.2s ease-in;
    z-index: 99;
    pointer-events: auto; 
}

.button-booking:hover{
    background-color: var(--accent-color-1);
    cursor: pointer;
}

#about{
    height: 60vh;
    background-color: var(--primary-color);
}

#venue{
    height: 100vh;
    background: url('./assets/images/image_14.jpg') no-repeat center/cover;
}

#food{
    height: 100vh;
    background-color: var(--accent-color-1);
    background-image: radial-gradient(
        circle,
        #ffffff 10%, 
        transparent 10% 
    );
    background-size: 20px 20px;
}

.food-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 6rem;
    gap: 5rem;
}

.food-text{
    color: var(--accent-color-2);
}

.food-subheading{
    color: var(--primary-color);
}

.food-text .food-heading{
    font-size: 72px;
    margin: 0;
    font-weight: 700;
}

.food-text-wrapper{
    width: 50%;
    padding-inline:5rem;
    background-color: var(--accent-color-1);
}

.food-image-container{
    position: relative;
    width: 50%;
}
.large-image{
    width: 100%;
    border-radius: 16px;
}
.small-image{
    position: absolute;
    height: 300px;
    width: 40%;
    top: 40%;
    right: 75%;
    border-radius: 16px;
}

.food-paragraph{
    font-size: 20px;
    font-weight: 600;
}

.view-menu{
    color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
}

#drinks{
    height: 150vh;
    color: var(--primary-color);
}

.drinks-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#drinks .drinks-heading{
    width: 50%;
    padding: 2em;
}

#drinks .drinks-heading h3{
    font-size: 56px;
    text-align: center;
    color: var(--accent-color-2);
}

.drinks-header-image img{
    width: 100px;
    height: auto;
}




.slider::-webkit-scrollbar{
    display: none;
}

.slider{
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: 21%; */
    gap: 2rem;
    overflow-x: auto;
    
    /* position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    gap: 25px;
    height: 100%;
    width: 100%;*/
    /* overflow-y: hidden;  */
    scroll-snap-type: inline mandatory; 
}

.slider-image{
 
}

.slider-image img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    width: 400px;
    height: auto;
    border-radius: 100px;
}

.slider-image{
    /* position: relative;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* height: auto; */
}

footer{
    height: 35vh;
    background-color: var(--accent-color-2);
}

.footer-container{
    display: grid;
    grid-template-columns: 2.5fr 1fr 2fr 2fr;
    height: 100%;
    color: var(--text-color);
    padding-inline: 3em;
}


.footer-info{
    padding-top: 2em;
    color: var(--primary-color);
}

.footer-brand p, .footer-info div{
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-color);
}

.footer-brand-p{
    padding-right: 3em;
}

.footer-brand-name{
    color: var(--primary-color);
}

.social-media-icons{
    display: flex;
    gap: 1.5em;
}
.social-media-icons svg{
    fill: var(--primary-color);
}

.social-media-icons svg:hover{
    fill: var(--text-color);
    cursor: pointer;
}
