@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root{
        --primary-color: #ffffff; 
        --secondary-color-1: #2c2620;  
        --tertiary-color-1: #77613e;
        --text-color: #464b4f;
        --accent-color-1: #cba261;
}

*{
    box-sizing: border-box;
}

*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: "Italiana", "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}

header, main, footer{
    margin: 0;
    padding: 0;
    width:100%;
}

.nav-brand-container{
    height: 120px;
    width: 100%;
    background-color: var(--secondary-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}

.brand-name{
    font-size: 42px;
    font-weight: 100;
    color: var(--primary-color);
}

.header_booking{
    position: relative;
    width: 100%;
    min-height: 80vh;
    background-image: url(./assets/images/pexels-jerchung-2792186.jpg);
    background-size: cover;
    filter: brightness(2);
}
.header_booking::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

nav{
    background-color: var(--secondary-color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    align-items: center;
    flex-direction: column;
    position: fixed;
    display: flex;
    height: 100%;
    width: 300px;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.9s ease, opacity 0.9s ease;
}

nav ul{
    padding-inline-start: 0;
    list-style-type: none;
}

nav li a{
    font-size: 20px;
    width: 100%;
    padding: 20px 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
}

nav li a:hover{
    color: var(--accent-color-1);
}

label svg{
    fill: var(--primary-color);
}

#active-menu{
    display: none;
}

  
.open-menu {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-out;
}
  
.close-outer-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.9s ease-in;
}
  
.menu-toggle:checked ~ .open-menu {
    display: none;
    opacity: 0;
}
  
.menu-toggle:checked ~ .close-outer-menu {
    display: block;
    opacity: 1;
}

#active-menu:checked ~ nav{
    transform: translateX(0);
    opacity: 1;
}

.close-menu{
    align-self: flex-start;
    padding: 20px;
}

